
#navwidth {
    margin: 0px 50px 0px 50px;
}

.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

.jumbotron {
    margin-top: 20px;
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../images/starwarsJumbotron.jpg);
    background-size: cover;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    background-color: darkgray;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    margin-bottom: 0px;
}

.jumbotron p {
    margin-bottom: 0px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    padding: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.p1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding: 0px; 
    padding-bottom: 40px;
}

#parka {
    width: 250px;
}

body { 
    background: url(../images/starwarsPageBg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.row {
    text-align: center;
}

.game {
    margin-bottom: 800px;
}

#navwidth {
    text-align:center;
    float:none;
    width: 245px;
    margin: 0 auto;
  }

#attack {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 100px;
}

.characters {
    font-family: 'Josefin Sans', sans-serif;
    background: white;
    border: 5px solid green;
    margin: 2.5%;
    width: 20%;
    float: left;
}

#yoda, #luke, #darth, #storm {
    border: 0px;
    background: none;
    margin: 10px;
}

h3 {
    margin-top: 0px;
}

.container {
    margin: 0 auto;    
}

 








  @media screen and (max-width: 640px) {  
    #yoda, #luke, #darth, #storm, img {
        display: flex;
        flex-wrap: wrap;
        width: 640px;
        text-align: center;
    }}
    
    @media screen and (max-width: 768px) {  
    #yoda, #luke, #darth, #storm, img {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }}
    

    @media screen and (max-width: 980px) {  
    #yoda, #luke, #darth, #storm, img {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }}